@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

html {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #eee;
}

.container {
	width: 100%;
	max-width: 800px;
	padding: 30px 20px;
	box-sizing: border-box;
	margin: 0 auto;
}
